#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3, p{
  margin: 5px 10px;
}

div.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
